<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.xiabiqing.mapper.RoleApplicationMapper">

    <resultMap id="BaseResultMap" type="fun.xiabiqing.model.domain.RoleApplication">
            <id property="id" column="id" />
            <result property="stuId" column="stu_id" />
            <result property="adminId" column="admin_id" />
            <result property="role" column="role" />
            <result property="information" column="information" />
            <result property="image" column="image" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,stu_id,admin_id,role,information,image,
        status,create_time,update_time,is_delete
    </sql>
</mapper>
