<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.xiabiqing.mapper.UserBusinessMapper">

    <resultMap id="BaseResultMap" type="fun.xiabiqing.model.domain.UserBusiness">
            <id property="id" column="id" />
            <result property="userIdBus" column="user_id_bus" />
            <result property="position" column="position" />
            <result property="location" column="location" />
            <result property="company" column="company" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id_bus,position,location,company
    </sql>
</mapper>
